body {
  background-color: #f2e2d2;
}

.team-heading {
  background-color: #84c0c6;
}

.card-header {
  background-color: #46b1c9;
}

.card-body {
  background-color: #bcc1ba;
}

.card-title {
  color: #ece9e9;
}
